<!-- Countries -->

<div class="countries">
  <h1>We are available in many well-known countries</h1>
  <!-- Country tabs -->
  <div class="country-tabs">
    <!-- Country tab -->
    <div class="country-tab america">
      <!-- Header -->
      <h3>America</h3>
    </div>
    <!-- Country tab -->
    <div class="country-tab spain">
      <!-- Header -->
      <h3>Spain</h3>
    </div>
    <!-- Country tab -->
    <div class="country-tab london">
      <!-- Header -->
      <h3>London</h3>
    </div>
    <!-- Country tab -->
    <div class="country-tab france">
      <!-- Header -->
      <h3>France</h3>
    </div>
  </div>
</div>
