<!-- Footer -->
<footer>
  <!-- Footer content -->
  <div class="footer-content">
    <!-- Logo -->
    <a href="/src/index.html"
      ><img src="/src/img/logo.png" alt="logo" class="logo"
    /></a>
    <!-- Footer text -->
    <p class="footer-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <!-- Social -->
    <div class="social">
      <!--  -->
    </div>
    <!-- Rights -->
    <p class="rigths">© 20XX . All rights reserved.</p>
  </div>
  <!-- Take a tour -->
  <div class="take-a-tour-block">
    <!-- Footer list head -->
    <h3 class="footer-list-head">Take a tour</h3>
    <!-- Options list -->
    <ul>
      <li><a href="#">Features</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Product</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
  <!-- Our company -->
  <div class="our-company-block">
    <!-- Footer list head -->
    <h3 class="footer-list-head">Our Company</h3>
    <!-- Options list -->
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Agents</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <!-- News subscribe block -->
  <div class="news-subscribe">
    <!-- Footer list head -->
    <h3 class="footer-list-head">Subscribe</h3>
    <p>Subscribe to get latest property, blog news from us</p>
    <!-- Email input -->
    <form action="" class="email-input">
      <input type="email" placeholder="Email address" />
      <input type="submit" value="" />
    </form>
  </div>
</footer>
