<!-- Main -->

<div class="main">
  <!-- Main content -->
  <div class="main-content">
    <!-- Title -->
    <h1 class="title">Easy way to find a perfect property</h1>
    <!-- Main text -->
    <p class="main-text">
      We provide a complete service for the sale, purchase or rental of real
      estate.
    </p>
  </div>
  <!-- Searchbar -->
  <div class="searchbar">
    <!-- Search tabs -->
    <ul class="search-tabs">
      <!-- Search tab -->
      <li class="search-tab active-tab">Rent</li>
      <!-- Search tab -->
      <li class="search-tab">Buy</li>
      <!-- Search tab -->
      <li class="search-tab">Sell</li>
    </ul>
    <!-- Search filters -->
    <div class="search-filters">
      <!-- Search filter -->
      <div class="search-filter">
        <!-- Search filter content -->
        <div class="search-filter-content">
          <!-- Search tab head -->
          <h3 class="search-filter-head">Location</h3>
          Select Your City
        </div>
        <!-- Icon -->
        <img src="/src/img/geo-icon.png" alt="geo-icon" />
      </div>
      <!-- Vertical devider -->
      <div class="vl"></div>
      <!-- Search filter -->
      <div class="search-filter">
        <!-- Search filter content -->
        <div class="search-filter-content">
          <!-- Search tab head -->
          <h3 class="search-filter-head">Property Type</h3>
          Choose Property Type
        </div>
        <!-- Icon -->
        <img src="/src/img/simple-arrow.png" alt="arrow" />
      </div>
      <!-- Vertical devider -->
      <div class="vl"></div>
      <!-- Search filter -->
      <div class="search-filter">
        <!-- Search filter content -->
        <div class="search-filter-content">
          <!-- Search tab head -->
          <h3 class="search-filter-head">Price Range</h3>
          Choose Price Range
        </div>
      </div>
      <button class="button-search">
        <img src="/src/img/search-icon.png" alt="search-icon" />
      </button>
    </div>
  </div>
</div>
