<!-- Recently added -->

<div class="recently-added">
  <h2>
    Recently Added
    <a href="#">See all</a>
  </h2>
  <!-- Properties list -->
  <div class="property-list">
    <!-- Property tab -->
    <div class="property-tab">
      <!-- Property image -->
      <img src="/src/img/property1.png" alt="property1" />
      <!-- Property description -->
      <div class="property-desc">
        <!-- Property name -->
        <h4>103/143 West Street, Crows Nest</h4>
        <!-- Property attributes -->
        <ul class="property-attributes">
          <li>10 Bedrooms</li>
          <li>150 M</li>
          <li>2 Garages</li>
        </ul>
        <span>
          <!-- Builder name -->
          <p class="builder-name">Posted by X Builder</p>
          <!-- Price -->
          <span class="price">$45,545</span>
        </span>
      </div>
    </div>
    <!-- Property tab -->
    <div class="property-tab">
      <!-- Property image -->
      <img src="/src/img/property2.png" alt="property1" />
      <!-- Property description -->
      <div class="property-desc">
        <!-- Property name -->
        <h4>103/143 West Street, Crows Nest</h4>
        <!-- Property attributes -->
        <ul class="property-attributes">
          <li>10 Bedrooms</li>
          <li>150 M</li>
          <li>2 Garages</li>
        </ul>
        <span>
          <!-- Builder name -->
          <p class="builder-name">Posted by X Builder</p>
          <!-- Price -->
          <span class="price">$45,545</span>
        </span>
      </div>
    </div>
    <!-- Property tab -->
    <div class="property-tab">
      <!-- Property image -->
      <img src="/src/img/property3.png" alt="property1" />
      <!-- Property description -->
      <div class="property-desc">
        <!-- Property name -->
        <h4>103/143 West Street, Crows Nest</h4>
        <!-- Property attributes -->
        <ul class="property-attributes">
          <li>10 Bedrooms</li>
          <li>150 M</li>
          <li>2 Garages</li>
        </ul>
        <span>
          <!-- Builder name -->
          <p class="builder-name">Posted by X Builder</p>
          <!-- Price -->
          <span class="price">$45,545</span>
        </span>
      </div>
    </div>
    <!-- Property tab -->
    <div class="property-tab">
      <!-- Property image -->
      <img src="/src/img/property4.png" alt="property1" />
      <!-- Property description -->
      <div class="property-desc">
        <!-- Property name -->
        <h4>103/143 West Street, Crows Nest</h4>
        <!-- Property attributes -->
        <ul class="property-attributes">
          <li>10 Bedrooms</li>
          <li>150 M</li>
          <li>2 Garages</li>
        </ul>
        <span>
          <!-- Builder name -->
          <p class="builder-name">Posted by X Builder</p>
          <!-- Price -->
          <span class="price">$45,545</span>
        </span>
      </div>
    </div>
    <!-- Property tab -->
    <div class="property-tab">
      <!-- Property image -->
      <img src="/src/img/property5.png" alt="property1" />
      <!-- Property description -->
      <div class="property-desc">
        <!-- Property name -->
        <h4>103/143 West Street, Crows Nest</h4>
        <!-- Property attributes -->
        <ul class="property-attributes">
          <li>10 Bedrooms</li>
          <li>150 M</li>
          <li>2 Garages</li>
        </ul>
        <span>
          <!-- Builder name -->
          <p class="builder-name">Posted by X Builder</p>
          <!-- Price -->
          <span class="price">$45,545</span>
        </span>
      </div>
    </div>
    <!-- Property tab -->
    <div class="property-tab">
      <!-- Property image -->
      <img src="/src/img/property6.png" alt="property1" />
      <!-- Property description -->
      <div class="property-desc">
        <!-- Property name -->
        <h4>103/143 West Street, Crows Nest</h4>
        <!-- Property attributes -->
        <ul class="property-attributes">
          <li>10 Bedrooms</li>
          <li>150 M</li>
          <li>2 Garages</li>
        </ul>
        <span>
          <!-- Builder name -->
          <p class="builder-name">Posted by X Builder</p>
          <!-- Price -->
          <span class="price">$45,545</span>
        </span>
      </div>
    </div>
  </div>
</div>
